.introCard {
    position: relative;
    width: 100%;
    height:340px;
    background-color: #3E829A;
    border-radius: 1pc;
    border: 5px solid #FAFAFF;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10px;
    color: #FAFAFF;
}

.introCard:hover {
    background-color:#FAFAFF;
    border: 5px solid #3E829A;
    transform: scale(1);
    color: #3E829A;
}


#greetings {
    font-size: 2em;
}

#Iam {
    font-size: 1em;
}

#introName {
    font-size: 4em;
}

#introLine {
    width: 70%;
    display: flex;
    align-items: flex-end;

}

/* .image {
    width: 50%;
    height: 95%;
    margin: 10px;
    background: url(D:\portfolio_web\client\src\static\IMG_20241002_220149766.jpg);
    background-size: 100%;
    border-radius: 1pc;
} */