.introCard {
    width: 100%;
    height:350px;
    background-color: white;
    border-radius: 1pc;
    border: 1.5px solid yellow;
}

/* .image {
    width: 50%;
    height: 95%;
    margin: 10px;
    background: url(D:\portfolio_web\client\src\static\IMG_20241002_220149766.jpg);
    background-size: 100%;
    border-radius: 1pc;
} */