.introCard {
    width: 100%;
    height:340px;
    background-color: #3E829A;
    border-radius: 1pc;
    border: 5px solid #FAFAFF;
}

/* .image {
    width: 50%;
    height: 95%;
    margin: 10px;
    background: url(D:\portfolio_web\client\src\static\IMG_20241002_220149766.jpg);
    background-size: 100%;
    border-radius: 1pc;
} */