.body{
    color: #bcdee7;
}

.about{
    position: relative;
}

.animation {
    position: absolute;
    top: 552px;
    left: 0;
} 

.card {
    width: 50%;
    position: absolute;
    top: 100px;
    right: 20%;
}